@charset "utf-8";

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    font-family: 'Tilt Neon', cursive;
    font-size: 1.5rem;
}

#contenedor, #contenedor-usuario{
    /* border: 1px solid #ff0000; */
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
}

:is(#contenedor, #contenedor-usuario)>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #333; */
    padding: 2rem;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 25px;
    background: #0093E9;
    box-shadow: inset -20px -20px 60px #007dc6,
                inset 20px 20px 60px #00a9ff;
    color: #fff;
}

#caja-boton{
    width: 75%;
    margin: auto;
}

#caja-boton>input{
    width: 75%;
    margin: auto;
    display: block;
    line-height: 2em;
    font-size: 1.5em;
    border-radius: 5px;
    padding-left: 1em;
}

#caja-boton input:focus{
    background-color: rgb(88, 68, 188);
    color: #fff;
}

#caja-boton>button{
    margin: auto;
    display: block;
    font-size: 1.5em;
    padding: 1em;
    border-radius: 5px;
    margin-top: 1em;
    background-color: rgb(88, 68, 188);
    color: #fff;
    cursor: pointer;
    border: 4px inset #fff;
}

#caja-boton>button:hover{
    background-color: #fff;
    color: rgb(88, 68, 188);
}

@media only screen and (min-width: 1024px) {
    #contenedor, #contenedor-usuario{
        grid-template-columns: repeat(3, 1fr);
    }
}